/* * */
/* { */
/*     font-family: "FantasqueSansMNerdFont" !important; */
/*     font-size: 16px !important; */
/* } */

pre, code, samp, tt, var
{
    font-family: FantasqueSansMNerdFont !important;
}
