* {
  border: none;
  border-radius: 0;
  font-family: "FantasqueSansMNerdFont";
  font-size: 13.5px;
  font-weight: bold;
}

window#waybar {
  background-color: transparent;
  color: white;
}

#window {
  margin: 2px 0;
  background: #3c3836;
  padding: 0 10px;
  border-radius: 5px;
}

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#mode {
  margin: 2px 0;
  padding: 0 10px;
  margin-left: 15px;
  background: #3c3836;
  border-radius: 5px;
}

#workspaces {
  margin-left: 15px;
}

#workspaces button {
  color: #c0caf5;
  padding: 0 4px;
}

#workspaces button.focused {
  color: cyan;
}

#workspaces button.urgent {
  color: white;
}

#workspaces button.persistent {
  color: #414868;
}

#workspaces button:hover {
  background: #3c3836;
  border: none;
}

#tray{
  background: #3c3836;
  margin: 2px 2px 2px 0px;
  padding: 0 10px;
  border-radius: 5px;
}

#clock {
  background: #3c3836;
  margin: 2px 2px;
  padding: 0 10px;
  border-radius: 5px;
}

#workspaces {
  background: #3c3836;
  padding: 0px 5px;
  border-radius: 5px;
  margin: 2px 2px 2px 2px;
  margin-left: 2px;
}

#pulseaudio,
#disk,
#memory,
#network,
#battery,
#cpu {
  background: #3c3836;
  margin: 2px 0;
  margin-right: 2px;
  padding: 0 10px;
  border-radius: 5px;
}

#pulseaudio {
  color: #52cef5;
}

#disk {
  color: #d8ec45;
}

#cpu {
  color: #fca800;
}

#memory {
  color: #08fc00;
}
